body {
    width: 90%;
    margin: 30px auto;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-size: 1.65em;
    margin: 0 0 30px;
}

.trombinoscope {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trombinoscope>a {
    max-width: 300px;
    margin-bottom: -1em;
}

a {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(100% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 600px) {
    a {
        width: calc(33% - 6px);
    }
}

@media screen and (min-width: 900px) {
    a {
        width: calc(25% - 6px);
    }
}


/*a:hover img {
    transform: scale(1.15);
}*/

figure {
    margin: 0;
    overflow: hidden;
}

figcaption {
    text-align: center;
    padding: 1em;
    margin-right: 4px;
    color: #ccc;
    /* Propriétés pour transition */
    transition: .5s ease;
    opacity: 0;
    /*height: 0%;*/
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
}

figcaption.tremplin {
    background-color: rgb(0, 179, 21);
}

figcaption.developpeur {
    background-color: rgb(34, 35, 139);
}

a:hover figcaption {
    /* Effet de transition sur hover*/
    opacity: 0.8;
    transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    /*height: 100%;*/
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
}