.carte {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


/* Couleurs adaptées aux deux formations */

.developpeur {
    background: rgb(11, 216, 4);
}

.tremplin {
    background: rgb(4, 67, 241);
}

.carte:hover .overlay {
    opacity: 0.7;
}


/* Responsive layout */

@media screen and (max-width: 800px) {
    .overlay {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .overlay {
        font-size: 12px;
    }
}

@media screen and (max-width: 200px) {
    .overlay {
        font-size: 5px;
    }
}